.head_1{


}
.img_1{
    height: 100px;
    width: 250px;
    float: left;
}
.first_div{
    padding: 10px;
}
hr{
    background-color: orange;
    border: none;
    height: 2px;
}
.head_2{
    text-align: center;

}
.div_2{
    margin-top: 250px;
    margin-left: 750px;
}

